Texture (
    (
        name: "texture_mat",
        diffuse_texture: (
            name: "diff",
            path: "coco.jpg",
            kind: Diffuse
        ),
        normal_texture: (
            name: "norm",
            path: "coco2.jpg",
            kind: Normal
        )
    )
)
