[
    (
        name:"zodiac",
        source:Obj("zodiac_001.obj"),
        geometries:[
            (name:"hull"),
            (name:"inflatable")
        ]
    ),
    (
        name:"cube",
        source:Obj("cube_001.obj"),
        geometries:[
            (name:"cube")
        ]
    )
]