(
    name:"test",
    mesh_desc: (
        name: "house",
        source: Obj("file.obj"),
        geometries: [
            (name:"window"),
            (name:"door"),
            (name:"wall")
        ]),
        geometries_materials:[
            (("window"),("glass")),
            (("door"),("wood")),
            (("wall"),("pink"))
        ],
    pipeline_name:"pipeline_1"
)


